@page
@inherits MyTree.Web.Pages.MyTreePage
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.JsTree
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.Lodash
@model MyTree.Web.Pages.IndexModel
@section styles {
    <abp-style-bundle>
        <abp-style type="typeof(JsTreeStyleContributor)" />
        <abp-style src="/Pages/Index.css"/>
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle>
        <abp-script type="typeof(JsTreeScriptContributor)" />
        <abp-script type="typeof(LodashScriptContributor)" />
        <abp-script src="/Pages/Index.js"/>
    </abp-script-bundle>
}

<button type="button" id="RegenerateTree" class="btn btn-primary mb-3">Regenerate Tree</button>

<button type="button" id="ReseedTree" class="btn btn-primary mb-3">Reseed Trees</button>

<div id="tree" class="w-50">
</div>
